
alembic==1.15.1

Authlib==1.5.0

email_validator==2.2.0

Flask==3.1.0
Flask-Bootstrap==3.3.7.1
Flask-Login==0.6.3
Flask-Mail==0.10.0
Flask-Migrate==4.1.0
Flask-Session==0.8.0
Flask-SQLAlchemy==3.1.1
Flask-Testing==0.8.1
Flask-WTF==1.2.2

google==3.0.0
google-auth==2.38.0
google-genai==1.4.0
gunicorn==23.0.0

itsdangerous==2.2.0
Jinja2==3.1.6

langchain==0.3.20
langchain-community==0.3.19
langchain-core==0.3.44
langchain-openai==0.3.7
langchain-text-splitters==0.3.6
langgraph==0.3.5
langgraph-checkpoint==2.0.19
langgraph-prebuilt==0.1.2
langgraph-sdk==0.1.56
langsmith==0.3.13

MarkupSafe==3.0.2

openai==1.65.2


poetry-core==2.1.1
pre_commit==4.1.0

psycopg2==2.9.10
psycopg2-binary==2.9.10

pytest==8.3.4
pytest-cov==6.0.0
pytest-sugar==1.0.0
python-dotenv==1.0.1

requests==2.32.3
r
SQLAlchemy==2.0.38

virtualenv==20.29.3

Werkzeug==3.1.3

