{% extends "bootstrap/base.html" %}

<!-- Place the CSS in the <head> section -->
{% block head %}
    {{ super() }}  <!-- This allows you to inherit any existing <head> content from the base template -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}ThriveWell{% endblock %}

{% block navbar %}
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main.index') }}">ThriveWell</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('main.index') }}">Home</a></li>
                    {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('user.profile') }}">Profile</a></li>
                        <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                    {% else %}
                        <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                        <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        {% block page_content %}
        {% endblock %}
    </div>
{% endblock %}

<!-- Place the JS script right before the closing </body> -->
{% block body_scripts %}
    {{ super() }}  <!-- This allows you to inherit any existing <body> scripts from the base template -->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
{% endblock %}
